body{
    background-image: url(./pic.jpeg);
    background-size: cover;
    padding:0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  header{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  main{
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(10px);
  }

  #dices{
    display: flex;
    justify-content: space-around;
  }

  button, span, .oneDice{
    border-radius: 10px;
    width: 250px;
    height: 70px;
    margin: 10px;
    font-size: xxx-large;
    text-align: center;
    align-content: center;
    display: block;
    border: none;
  }

  header > button{
    width: 100px;
  }

  button:hover, span:hover, .oneDice:hover{
    transition: all 500ms;
    box-shadow: 0 0 10px blue inset;
    background-color: rgb(208, 208, 208);
    color: blue;
  }

  button{
    background-color: white;
  }
  .oneDice{
    background-color: wheat;
    color: black;
    font-size: xx-large;
    text-align: center;
  }
  span{
    background-color: rgb(134, 211, 134);
    color: black;
  }
  .red{
    background-color: rgb(231, 154, 154);
  }
  .locked{
    background-color: rgb(134, 171, 211);
  }